body, html {
  height: 100%; }

#world-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#base-container {
  margin: 0 auto;
  width: 900px;
  height: 100%; }

#header-layer {
  height: 40px; }
  #header-layer #auth-header-widget {
    float: right; }

#content-layer {
  height: auto;
  padding: 20px; }
  #content-layer #content-left-panel {
    float: left;
    width: 580px; }
    #content-layer #content-left-panel.half {
      width: 420px;
      padding-right: 5px; }
  #content-layer #content-right-panel {
    float: right;
    width: 280px; }
    #content-layer #content-right-panel.half {
      width: 425px; }
    #content-layer #content-right-panel .right_margin {
      height: 45px; }
