body, html {
  height: 100%; }

#world-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#base-container {
  margin: 0 auto;
  width: 900px;
  height: 100%; }

#header-layer {
  height: 40px; }
  #header-layer #auth-header-widget {
    float: right; }

#content-layer {
  height: auto;
  padding: 20px; }
  #content-layer #content-left-panel {
    float: left;
    width: 580px; }
    #content-layer #content-left-panel.half {
      width: 420px;
      padding-right: 5px; }
  #content-layer #content-right-panel {
    float: right;
    width: 280px; }
    #content-layer #content-right-panel.half {
      width: 425px; }
    #content-layer #content-right-panel .right_margin {
      height: 45px; }

a:hover {
  background-color: transparent; }

body {
  background-image: url(/images/backgrounds/b1.jpg);
  background-repeat: repeat-x repeat-y;
  font: 13.34px helvetica, arial, freesans, clean, sans-serif; }

#world-wrapper {
  background-image: url(/images/backgrounds/b2.png);
  background-repeat: repeat-x; }

#content-layer {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #cccccc; }

#header-layer {
  padding-top: 20px;
  padding-bottom: 10px; }
  #header-layer a#logo_link {
    text-decoration: none; }
    #header-layer a#logo_link h1 {
      float: left;
      color: #424650;
      font-size: 40px;
      width: 300px; }
  #header-layer #auth-header-widget {
    padding-top: 30px; }
    #header-layer #auth-header-widget a {
      font-weight: bold;
      color: #4183c4; }
      #header-layer #auth-header-widget a:hover {
        color: red;
        background: transparent; }

#content-layer {
  font-size: 21px; }
  #content-layer h1 {
    color: #333333;
    font-size: 26px;
    padding-bottom: 10px; }
  #content-layer h2 {
    color: #424650;
    font-size: 20px;
    padding-bottom: 10px; }
  #content-layer p {
    padding-bottom: 5px; }
  #content-layer ul li {
    padding-bottom: 3px;
    margin-left: 20px;
    list-style-type: circle; }
  #content-layer a {
    color: #4183c4; }
  #content-layer #sign_up_prompt a {
    display: block;
    width: 280px;
    height: 70px;
    background-image: url(/images/buttons/get_code_two.png);
    background-size: 560px auto;
    background-position: 0 0;
    background-repeat: no-repeat; }
    #content-layer #sign_up_prompt a:hover {
      background-position: -280px 0; }
  #content-layer #stat_block h2 {
    text-align: center; }
  #content-layer #social-networks-block {
    text-align: center; }

form .coolRoundField {
  height: 30px;
  width: 395px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #777777; }
  form .coolRoundField.valid {
    box-shadow: 0 0 5px lime; }
  form .coolRoundField.focused {
    box-shadow: 0 0 5px #ff8d00; }
  form .coolRoundField input {
    border: none;
    height: 30px;
    width: 395px;
    font-size: 20px; }
form .infieldWrapper {
  position: relative; }
form .infield_label {
  line-height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #cccccc; }

#continue_registration_prompt {
  float: right; }
  #continue_registration_prompt a {
    display: block;
    width: 200px;
    height: 50px;
    background-image: url(/images/buttons/continue.png);
    background-repeat: no-repeat;
    background-size: 200px auto; }
    #continue_registration_prompt a:hover {
      background-image: url(/images/buttons/continue_hover.png); }
