%h1
  Добро пожаловать в нашу компанию

%p
  Вы намерено или случайно забрели на страничку Meeti. Meeti - активное сообщество людей,
  общающихся и знакомящихся в реальной жизни.

%p
  Вливайся в наше сообщество и получай персональный идентификационный код! Наличие этого
  кода дает тебе следующие возможности:

  %ul
    %li Поиск новых людей, которые будут интересны тебе
    %li Живое общение в реальной жизни с новыми людьми
    %li Возможность получить оценку своей личности окружающими

- content_for :right do
  .right_margin
  #sign_up_prompt
    %a{:href => "/how_to_sign_up"}

  #stat_block
    %h2
      Нас уже 988521


