#auth-header-widget
  - unless user_signed_in?
    %a{:href => new_user_session_path}
      Войти
  - else
    %a{:href => "/user/profile"}
      = current_user.email
    &nbsp;
    %a{:href => destroy_user_session_path}
      Выйти