%h1
  Вы можете получить ваш код без регистрации!

%p
  Просто войдите в Meeti, используя аккаунт в одной из социальных сетей справа. При этом
  ваш пароль не передается на наши сервера, поэтому данная процедура совершенно
  безопасна для вас!

- content_for :right do
  .right_margin
  #social-networks-block
    %a{:href => "/sign_up_vkontakte"}
      %img{:width => "70%", :src => "/images/logos/vkontakte.jpg"}

%p
  Если вы не хотите использовать социальные сети для входа в
  Meeti, вы всегда можете
  %a{:href => "register"}
    зарегистрироваться
  у нас.