
$content_width: 900px
$content_padding: 20px
$padding_for_normal_layout: 20px
$left_panel_width: $content_width * (2/3) - $content_padding - $padding_for_normal_layout
$right_panel_width: $content_width * (1/3) - $content_padding

$padding_for_half_layout: 5px
$panel_width_for_half_layout: ($content_width) * (1/2) - $content_padding - $padding_for_half_layout


body, html
  height: 100%

#world-wrapper
  width: 100%
  height: 100%
  overflow: hidden

#base-container
  margin: 0 auto
  width: $content_width
  height: 100%

#header-layer
  height: 40px

  #auth-header-widget
    float: right

#content-layer

  height: auto
  padding: $content_padding

  #content-left-panel
    float: left
    width: $left_panel_width
    padding-right: $padding_for_normal_layout
    &.half
      width: $panel_width_for_half_layout - $padding_for_half_layout
      padding-right: $padding_for_half_layout

  #content-right-panel
    float: right
    width: $right_panel_width
    &.half
      width: $panel_width_for_half_layout

    .right_margin
      height: 45px